extends layout

block content

  h1 Welcome

  p You are logged in.

  form(action="/logout" method="post")
    input(type="hidden" name="_csrf" value="")
    button.btn.btn-primary(type="submit") Logout
